In [1]:
import glob
import json
import pandas as pd

filePath = '/Users/rajusingh/Final/data/*.json'
localfileDir=glob.glob(filePath)

In [2]:
# result1 = []
# result2 = []
# for file in localfileDir:
#     if 'ufcx-3fdn' in  file:
#         with open(file) as infile1:
#             result1.append(json.load(infile1))
#     with open("/Users/rajusingh/Final/data/ProcessedData/crime_data_2012_to_2015.json", "w") as outfile1:
#          json.dump(result1, outfile1)
            
# for file in localfileDir:            
#     if '29yf-ye7n' in  file:
#         with open(file) as infile2:
#             result2.append(json.load(infile2))
#     with open("/Users/rajusingh/Final/data/ProcessedData/crime_data_2015_to_2017.json", "w") as outfile2:
#          json.dump(result2, outfile2)

In [26]:
df1=pd.DataFrame()
for file in localfileDir:
    if 'ufcx-3fdn' in  file:
        with open(file) as f:
            dfn1 = pd.DataFrame(json.load(f))
            df1 = pd.concat([df1,dfn1])
df1.head()

,compnos,day_week,domestic,fromdate,incident_type_description,location,main_crimecode,month,naturecode,reportingarea,reptdistrict,shift,shooting,streetname,ucrpart,weapontype,x,xstreetname,y,year
0,120420285,Sunday,No,2012-07-08T06:00:00.000,RESIDENTIAL BURGLARY,"{'coordinates': [-71.103795, 42.346381], 'type...",05RB,7,BERPTA,629,D4,Last,No,ABERDEEN ST,Part One,Other,763273.1791,NaN,2951498.962,2012
1,120419202,Sunday,No,2012-07-08T06:03:00.000,AGGRAVATED ASSAULT,"{'coordinates': [-71.074585, 42.316841], 'type...",04xx,7,PSHOT,327,B2,Last,Yes,HOWARD AV,Part One,Firearm,771223.1638,NaN,2940772.099,2012
2,120419213,Sunday,No,2012-07-08T06:26:00.000,ROBBERY,"{'coordinates': [-71.09699, 42.342841], 'type'...",03xx,7,ARMROB,625,D4,Last,No,JERSEY ST,Part One,Firearm,765118.8605,QUEENSBERRY ST,2950217.536,2012
3,120419223,Sunday,No,2012-07-08T06:56:00.000,COMMERCIAL BURGLARY,"{'coordinates': [-71.065829, 42.316441], 'type...",05CB,7,ALARMC,258,B2,Last,No,COLUMBIA RD,Part One,Other,773591.8648,NaN,2940638.174,2012
4,120419236,Sunday,No,2012-07-08T07:15:00.000,ROBBERY,"{'coordinates': [-71.1199, 42.270516], 'type':...",03xx,7,ARMROB,496,E18,Last,No,COLLINS ST,Part One,Firearm,759042.7315,NaN,2923832.681,2012

In [4]:
df1.to_csv("/Users/rajusingh/Final/data/ProcessedData/crime_data_2012_to_2015.csv", index=False)

In [28]:
df2=pd.DataFrame()
for file in localfileDir:
    if '29yf-ye7n' in  file:
        with open(file) as f:
            dfn2 = pd.DataFrame(json.load(f))
            df2 = pd.concat([df2,dfn2])
df2.head()

,day_of_week,district,hour,incident_number,lat,location,long,month,occurred_on_date,offense_code,offense_code_group,offense_description,reporting_area,shooting,street,ucr_part,year
0,Monday,B2,0,I152049897,42.32866284,"{'coordinates': [-71.085634, 42.328663], 'type...",-71.08563401,6,2015-06-15T00:00:00.000,03201,Property Lost,PROPERTY - LOST,282,NaN,WASHINGTON ST,Part Three,2015
1,Monday,C11,0,I152059178,42.29360585,"{'coordinates': [-71.071886, 42.293606], 'type...",-71.0718865,6,2015-06-15T00:00:00.000,02647,Other,THREATS TO DO BODILY HARM,359,NaN,WASHINGTON ST,Part Two,2015
2,Monday,B3,0,I152054279,42.30021684,"{'coordinates': [-71.080979, 42.300217], 'type...",-71.0809794,6,2015-06-15T00:00:00.000,01106,Confidence Games,FRAUD - CREDIT CARD / ATM FRAUD,456,NaN,HARLEM ST,Part Two,2015
3,Monday,A1,0,I152067251,42.36020464,"{'coordinates': [-71.056208, 42.360205], 'type...",-71.05620816,6,2015-06-15T00:00:00.000,01102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,93,NaN,FANEUIL HALL SQ,Part Two,2015
4,Monday,B3,0,I162013546,42.28363434,"{'coordinates': [-71.082813, 42.283634], 'type...",-71.0828132,6,2015-06-15T00:00:00.000,03201,Property Lost,PROPERTY - LOST,433,NaN,NORFOLK ST,Part Three,2015

In [7]:
df2.to_csv("/Users/rajusingh/Final/data/ProcessedData/crime_data_2015_to_2017.csv", index=False)

# Renaming and Filterning Required columns

In [31]:
#selecting columns from database1
df11=df1.ix[:,('compnos','incident_type_description','fromdate','shooting','year','month','day_week','streetname','location')]
df11.head()
#df1.head()

,compnos,incident_type_description,fromdate,shooting,year,month,day_week,streetname,location
0,120420285,RESIDENTIAL BURGLARY,2012-07-08T06:00:00.000,No,2012,7,Sunday,ABERDEEN ST,"{'coordinates': [-71.103795, 42.346381], 'type..."
1,120419202,AGGRAVATED ASSAULT,2012-07-08T06:03:00.000,Yes,2012,7,Sunday,HOWARD AV,"{'coordinates': [-71.074585, 42.316841], 'type..."
2,120419213,ROBBERY,2012-07-08T06:26:00.000,No,2012,7,Sunday,JERSEY ST,"{'coordinates': [-71.09699, 42.342841], 'type'..."
3,120419223,COMMERCIAL BURGLARY,2012-07-08T06:56:00.000,No,2012,7,Sunday,COLUMBIA RD,"{'coordinates': [-71.065829, 42.316441], 'type..."
4,120419236,ROBBERY,2012-07-08T07:15:00.000,No,2012,7,Sunday,COLLINS ST,"{'coordinates': [-71.1199, 42.270516], 'type':..."

In [32]:
#renaming columns
df11.columns=['INCIDENT_NUM','OFFENSE_DESCRIPTION','OCCURRED_ON_DATE','SHOOTING','YEAR','MONTH','DAY_OF_WEEK','STREET','LOCATION']

In [36]:
#selecting columns from database2
df22=df2.ix[:,('incident_number','offense_description','shooting','occurred_on_date','year','month','day_of_week','street','location')]
df22.head()

,incident_number,offense_description,shooting,occurred_on_date,year,month,day_of_week,street,location
0,I152049897,PROPERTY - LOST,NaN,2015-06-15T00:00:00.000,2015,6,Monday,WASHINGTON ST,"{'coordinates': [-71.085634, 42.328663], 'type..."
1,I152059178,THREATS TO DO BODILY HARM,NaN,2015-06-15T00:00:00.000,2015,6,Monday,WASHINGTON ST,"{'coordinates': [-71.071886, 42.293606], 'type..."
2,I152054279,FRAUD - CREDIT CARD / ATM FRAUD,NaN,2015-06-15T00:00:00.000,2015,6,Monday,HARLEM ST,"{'coordinates': [-71.080979, 42.300217], 'type..."
3,I152067251,FRAUD - FALSE PRETENSE / SCHEME,NaN,2015-06-15T00:00:00.000,2015,6,Monday,FANEUIL HALL SQ,"{'coordinates': [-71.056208, 42.360205], 'type..."
4,I162013546,PROPERTY - LOST,NaN,2015-06-15T00:00:00.000,2015,6,Monday,NORFOLK ST,"{'coordinates': [-71.082813, 42.283634], 'type..."

In [37]:
#renaming columns
df22.columns=['INCIDENT_NUM','OFFENSE_DESCRIPTION','SHOOTING','OCCURRED_ON_DATE','YEAR','MONTH','DAY_OF_WEEK','STREET','LOCATION']
df22.head()

,INCIDENT_NUM,OFFENSE_DESCRIPTION,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,STREET,LOCATION
0,I152049897,PROPERTY - LOST,NaN,2015-06-15T00:00:00.000,2015,6,Monday,WASHINGTON ST,"{'coordinates': [-71.085634, 42.328663], 'type..."
1,I152059178,THREATS TO DO BODILY HARM,NaN,2015-06-15T00:00:00.000,2015,6,Monday,WASHINGTON ST,"{'coordinates': [-71.071886, 42.293606], 'type..."
2,I152054279,FRAUD - CREDIT CARD / ATM FRAUD,NaN,2015-06-15T00:00:00.000,2015,6,Monday,HARLEM ST,"{'coordinates': [-71.080979, 42.300217], 'type..."
3,I152067251,FRAUD - FALSE PRETENSE / SCHEME,NaN,2015-06-15T00:00:00.000,2015,6,Monday,FANEUIL HALL SQ,"{'coordinates': [-71.056208, 42.360205], 'type..."
4,I162013546,PROPERTY - LOST,NaN,2015-06-15T00:00:00.000,2015,6,Monday,NORFOLK ST,"{'coordinates': [-71.082813, 42.283634], 'type..."

In [38]:
#rearranging columns
df22=df22.ix[:,('INCIDENT_NUM','OFFENSE_DESCRIPTION','OCCURRED_ON_DATE','SHOOTING','YEAR','MONTH','DAY_OF_WEEK','STREET','LOCATION')]

In [39]:
#df22.head()

In [40]:
#merging two database
df_final = pd.concat([df11,df22])

In [41]:
#storing the final database to local as csv
df_final.to_csv("/Users/rajusingh/Final/data/ProcessedData/merged_crime_data_2012_to_2017.csv", index=False)

In [10]:
import pandas as pd
p=pd.read_csv("/Users/rajusingh/Final/data/ProcessedData/merged_crime_data_2012_to_2017.csv")
p.head()

/Users/rajusingh/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,INCIDENT_NUM,OFFENSE_DESCRIPTION,OCCURRED_ON_DATE,SHOOTING,YEAR,MONTH,DAY_OF_WEEK,STREET,LOCATION
0,120420285,RESIDENTIAL BURGLARY,2012-07-08T06:00:00.000,No,2012,7,Sunday,ABERDEEN ST,"{'coordinates': [-71.103795, 42.346381], 'type..."
1,120419202,AGGRAVATED ASSAULT,2012-07-08T06:03:00.000,Yes,2012,7,Sunday,HOWARD AV,"{'coordinates': [-71.074585, 42.316841], 'type..."
2,120419213,ROBBERY,2012-07-08T06:26:00.000,No,2012,7,Sunday,JERSEY ST,"{'coordinates': [-71.09699, 42.342841], 'type'..."
3,120419223,COMMERCIAL BURGLARY,2012-07-08T06:56:00.000,No,2012,7,Sunday,COLUMBIA RD,"{'coordinates': [-71.065829, 42.316441], 'type..."
4,120419236,ROBBERY,2012-07-08T07:15:00.000,No,2012,7,Sunday,COLLINS ST,"{'coordinates': [-71.1199, 42.270516], 'type':..."

In [ ]:
p.LOCATION.apply(lambda x : split x)

In [6]:
s="{'coordinates': [-71.103795, 42.346381], 'type...point'}"
s1=s
# aa=s.split('[')
# n=aa[1]
LONGITUDE=s1.split('[')[1].split(']')[0].split(',')[0]
LATITUDE= s1.split('[')[1].split(']')[0].split(' ')[1]

In [13]:
p['LONGITUDE']=p.LOCATION.apply(lambda x: x.split('[')[1].split(']')[0].split(',')[0])
#p['LATITUDE']=p.LOCATION.split('[')[1].split(']')[0].split(',')[1]

In [14]:
p['LATITUDE']=p.LOCATION.apply(lambda x: x.split('[')[1].split(']')[0].split(',')[1])

In [15]:
p.head()

,INCIDENT_NUM,OFFENSE_DESCRIPTION,OCCURRED_ON_DATE,SHOOTING,YEAR,MONTH,DAY_OF_WEEK,STREET,LOCATION,LONGITUDE,LATITUDE
0,120420285,RESIDENTIAL BURGLARY,2012-07-08T06:00:00.000,No,2012,7,Sunday,ABERDEEN ST,"{'coordinates': [-71.103795, 42.346381], 'type...",-71.103795,42.346381
1,120419202,AGGRAVATED ASSAULT,2012-07-08T06:03:00.000,Yes,2012,7,Sunday,HOWARD AV,"{'coordinates': [-71.074585, 42.316841], 'type...",-71.074585,42.316841
2,120419213,ROBBERY,2012-07-08T06:26:00.000,No,2012,7,Sunday,JERSEY ST,"{'coordinates': [-71.09699, 42.342841], 'type'...",-71.09699,42.342841
3,120419223,COMMERCIAL BURGLARY,2012-07-08T06:56:00.000,No,2012,7,Sunday,COLUMBIA RD,"{'coordinates': [-71.065829, 42.316441], 'type...",-71.065829,42.316441
4,120419236,ROBBERY,2012-07-08T07:15:00.000,No,2012,7,Sunday,COLLINS ST,"{'coordinates': [-71.1199, 42.270516], 'type':...",-71.1199,42.270516